<div class="container">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">{{ titulo }}</h1>
  </div>

  <form
    #form="ngForm"
    (submit)="onSubmit()"
    class="needs-validation"
    [ngClass]="!form.valid ? 'was-validated' : ''"
    novalidate
  >
    <div class="mb-3">
      <label for="input-codigo" class="form-label">Código *</label>
      <input
        type="text"
        class="form-control validate"
        id="input-codigo"
        name="input-codigo"
        [(ngModel)]="this.aluno.id"
        #codigo="ngModel"
        required
      />
      <div
        class="invalid-feedback"
        *ngIf="!codigo.valid || codigo.untouched"
      >
        Informe um código válido.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="codigo.errors?.['required'] && codigo.touched"
      >
        Código é obrigatório.
      </div>
    </div>

    <div class="mb-3">
      <label for="input-nomecompleto" class="form-label">Nome completo *</label>
      <input
        id="input-nomecompleto"
        name="input-nomecompleto"
        type="text"
        class="form-control validate"
        [(ngModel)]="this.aluno.nomeCompleto"
        #nomecompleto="ngModel"
        required
      />
      <div
        class="invalid-feedback"
        *ngIf="!nomecompleto.valid || nomecompleto == null || nomecompleto.untouched"
      >
        Informe um nome válido.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="nomecompleto.errors?.['required'] && nomecompleto.touched"
      >
        Nome completo é obrigatório.
      </div>
    </div>

    <div class="mb-3">
      <label for="input-email" class="form-label">E-mail*</label>
      <input
        id="input-email"
        name="input-email"
        type="text"
        class="form-control validate"
        [(ngModel)]="this.aluno.email"
        #email="ngModel"
        required
      />
      <div
        class="invalid-feedback"
        *ngIf="!email.valid || email == null || email.untouched"
      >
        Informe um e-mail válido.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="email.errors?.['required'] && email.touched"
      >
        E-mail é obrigatório.
      </div>
    </div>

    <button
      class="btn btn-success"
      type="submit"
      [disabled]="!form.valid"
      style="margin-right: 5px"
    >
      Salvar
    </button>
    <button
      class="btn btn-danger"
      type="button"
      (click)="onDelete(aluno.id)"
      [disabled]="!form.valid"
      *ngIf="!isNovo"
      style="margin-right: 5px"
    >
      Excluir
    </button>
    <button class="btn btn-warning" type="button" routerLink="../alunos">
      Cancelar
    </button>
  </form>
</div>
