/* You can add global styles to this file, and also import other style files */
/* @import "assets/resources/styles/index.css"; */

/* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body,
html {
  background-color: #ededed !important;
}

.nav-wrapper {
  background-color: var(--primaryColor);
}

.page-footer {
  background-color: var(--primaryColor);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
